/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

/*New code...*/
#outer-box {
  background-color: blueviolet;
}

.inner-box {
  background: #f00;
}

.inner-box p{
  color: #fff;
}