* {
    background-color: black;
}

h1 {
    color: lightpink;
}

h2 {
    color:bisque;
}

#red {
    color:red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

img {
    width: 200px;
    height: 200px;
}